.empty-posi {
  margin-top: 260px;
  text-align: center;
  p {
    margin-bottom: 20px;
    color: #a0a0a0;
    font-size: 20px;
  }
  button {
    width: 120px;
    height: 32px;
    font-size: 14px;
  }
}